body.signin {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.signinpanel {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 50px auto;
    max-width: 400px;
    padding: 20px;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.input {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-sizing: border-box;
    color: #333;
    font-size: 14px;
    height: 30px;
    margin-bottom: 15px;
    padding: 6px 10px;
    width: 100%;
}

.submit {
    background-color: #4CAF50;
    border: none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    height: 40px;
    padding: 10px 20px;
    width: 100%;
}

.ax {
    color: #337ab7;
    text-decoration: none;
}

p {
    color: #333;
    font-size: 14px;
    margin-bottom: 10px;
    text-align: center;
}

p span {
    font-weight: bold;
}

/* 满减卷，折扣卷按钮 */
.rollbutton {
    padding: 5px 10px;
    background-color: #3f51b5;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 12px;
}

/* 鼠标悬停时的样式 */
.rollbutton:hover {
    background-color: #1a237e;
}